@import url("https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@300;400;500&family=Poppins:wght@200&display=swap");

.product_details-body {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.product-short-spec {
    list-style: inside !important;
}
.stock {
    margin-top: 64px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.product-price {
    margin-top: 25px;
}

.product-price .price-currency {
    font-size: 16px !important;
    line-height: 19px !important;
    text-transform: uppercase;

    color: #373737 !important;
}

.product-price .product-ammount {
    font-weight: 400 !important;
    font-size: 32px !important;
    line-height: 39px !important;
    /* identical to box height */

    text-transform: uppercase;

    color: #373737 !important;
}

.product-price .product-ammount-offer {
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    display: flex;
    align-items: center;
    text-decoration-line: underline;

    color: #000000 !important;
    margin-left: 27px;
}

.ec-single-cart .btn::before {
    border: 1px solid #343a40;
}
.related-product-sec-title {
    font-size: 24px;
    border-left: 5px solid #2d7927;
    padding-left: 5px;
}
/* rating */

.star-cb-group {
    /* remove inline-block whitespace */
    font-size: 0;
    /* flip the order so we can use the + and ~ combinators */
    unicode-bidi: bidi-override;
    direction: rtl;
    /* the hidden clearer */
}
.star-cb-group * {
    font-size: 1rem;
}
.star-cb-group > input {
    display: none;
}
.star-cb-group > input + label {
    /* only enough room for the star */
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 1em;
    white-space: nowrap;
    cursor: pointer;
}
.star-cb-group > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "☆";
    color: #888;
}
.star-cb-group > input:checked ~ label:before,
.star-cb-group > input + label:hover ~ label:before,
.star-cb-group > input + label:hover:before {
    content: "★";
    color: #e52;
    text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: 0.5em;
    margin-left: -0.5em;
}
.star-cb-group > .star-cb-clear + label:before {
    width: 0.5em;
}
.star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before,
.star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: #e52;
    text-shadow: 0 0 1px #333;
}
.rating-xs {
    font-size: 15px;
}
.ec-pro-image .image img {
    width: 219px;
    height: 168px;
}
.ec-product-inner .ec-pro-image a.quickview {
    bottom: 25px !important;
    right: 10px !important;
}
.button-size .btn {
    font-size: 12px !important;

    width: 70px !important;
    height: 29px !important;
    line-height: 30px !important;
    padding-left: 10px !important;
}
.ec-product-inner {
    padding: 0 !important;
    border: none !important;
}
.ec-pro-list-desc {
    margin-bottom: 0;
}

.ec-single-desc ul li {
    list-style: disc;
}
