@import url('colors.css');

/* @import url("https://fonts.googleapis.com/css2?family=Forum&display=swap"); */

/* Common Style */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Work Sans", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.875;
    position: relative;
    visibility: visible;
    overflow-x: hidden;
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 15px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 15px;
    }
}
@media only screen and (max-width: 767px) {
    body {
        font-size: 15px;
    }
    .location-search{
        height: 45px !important;
    }
    .location-search-group{
        width: 50% !important;
    }
    .location-city{
        width: 50% !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 0;
    color: var(--text-dark);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: inherit;
    margin: 0;
}

h1,
.h1 {
    font-size: 72px;
    line-height: 78px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    h1,
    .h1 {
        font-size: 50px;
        line-height: 1.2;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    h1,
    .h1 {
        font-size: 44px;
        line-height: 1.2;
    }
    .header-search-btn {
        width: 50px !important;
    }

}
@media only screen and (max-width: 767px) {
    h1,
    .h1 {
        font-size: 36px;
        line-height: 1.2;
    }
    
}
@media only screen and (max-width: 575px) {
    h1,
    .h1 {
        font-size: 30px;
    }
    .tab-logo{
        display: none;
    }

}

h2,
.h2 {
    font-size: 30px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    h2,
    .h2 {
        font-size: 26px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    h2,
    .h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    h2,
    .h2 {
        font-size: 24px;
    }
    .ec-gl-btn p{
        font-size: 12px !important;
    }
}

h3,
.h3 {
    font-size: 24px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    h3,
    .h3 {
        font-size: 22px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    h3,
    .h3 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 767px) {
    h3,
    .h3 {
        font-size: 18px;
    }
}

h4,
.h4 {
    font-size: 18px;
}
@media only screen and (min-width: 768px) and (max-width: 991px),
    only screen and (max-width: 767px) {
    h4,
    .h4 {
        font-size: 16px;
    }
}

h5,
.h5 {
    font-size: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 991px),
    only screen and (max-width: 767px) {
    h5,
    .h5 {
        font-size: 14px;
    }
}

h6,
.h6 {
    font-size: 14px;
}

p:last-child {
    margin-bottom: 0;
}

a,
button {
    line-height: inherit;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

a:hover,
a:active,
a:focus {
    box-shadow: none;
    outline: none;
    text-decoration: none;
}

a,
button,
img,
input,
textarea {
    transition: all 0.3s ease 0s;
}

*:focus {
    outline: none;
}

a:focus {
    text-decoration: none;
    color: inherit;
    outline: none;
}

a:hover {
    text-decoration: none;
    color: #545454;
}

button,
input[type="submit"] {
    cursor: pointer;
}

img {
    height: auto;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}
ul:last-child {
    margin-bottom: 0;
}
ul li {
    list-style: none;
}

hr {
    border-top-width: 2px;
}

/* template css */
.nav-c {
    background-color: rgba(162, 228, 156, 0.15);
}
.header-search-box-categories {
    border: none;
    border-left: 1px solid #f0f0f0;
    border-top-left-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 0px;
    color: #000;
    font-family: "Inter";
    font-style: normal;
    font-size: 14px;
    background-color: #a2e49c;
}
.btn-src {
    background-color: #a2e49c;
    border: none;
    border-radius: 50%;
    color: #191919;
    display: inline-block;
    font-size: 18px;
}
.btn-src:hover {
    background-color: #353535;
    color: #ffffff;
}
.header-action-account {
    border-right: 1px solid #454545;
    color: #494343;
    font-weight: 500;
    line-height: 1;
    padding-right: 19px;
    margin-right: 20px;
    min-width: 134px;
}
.header-action-cart {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #000;
    font-size: 21px;
    line-height: 1;
    margin-right: 13px;
    padding: 0;
    position: relative;
}
.header-action-cart .cart-count {
    background-color: #3f3f3f;
    border-radius: 50%;
    color: #fff;
    font-size: 7px;
    font-family: "Inter";
    font-style: normal;
    height: 21px;
    line-height: 21px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -9px;
    width: 21px;
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 1rem;
    /* overflow-y: hidden; */
    font-family: "Inter";
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    /* padding-bottom: 1rem; */
    margin-top: -1px;
    /* overflow-x: auto; */
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    background-color: #a2e49c;
    justify-content: center;
    align-items: center;
}

.nav-scroller .link-secondary {
    padding-top: 0.75rem;
    /* padding-bottom: 0.75rem; */
    font-size: 0.875rem;
    color: #000;
    /* z-index: 999; */
}
.exlpore p {
    font-family: "Forum", cursive;
}
.cardm img {
    width: 100%;
    height: 250px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.inter {
    font-family: "Inter";
    font-style: normal;
}
.cardb {
    height: 300px;
}
.cardc {
    height: 370px;
}
.rating {
    color: #fb8200;
}

.category-thumbnail {
    height: 320px;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
.category-thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.owl-item {
    margin-right: 0 !important;
}
.cat-sec-title {
    text-align: center;
    padding-bottom: 20px;
}
.cat-bg-shadow {
    height: 250px;
    width: 100%;
    background-color: rgba(162, 228, 156, 0.15);
}
.margin-top {
    margin-top: 200px;
}
.ec-cat-slider {
    margin-left: 30px;
}
.ec-product-inner .ec-pro-image .ec-pro-actions .compare {
    position: absolute;
    right: 6px !important;
    bottom: 26px;
}
.ec-product-inner .ec-pro-image .ec-pro-actions .wishlist {
    right: 6px !important;
}
.ec-product-inner .ec-pro-content .ec-pro-title {
    margin: 0 0 0 !important;
}
.ec-product-inner .ec-pro-image {
    display: flex !important;
    justify-content: center !important;
}
/* slider css */
.ec-product-inner {
    padding: 0 !important;
}

.ec-product-inner {
    border: none;
}
.shop-cards {
    padding: 15px 0 !important;
}
.btn-dark:hover {
    color: #fff !important;
}
.ec-product-inner:hover .ec-pro-image a.quickview {
    right: 6px;
}
.border-hover{
    border-radius: 10px;
}
.border-hover:hover{
    border: 1px solid black;
    
}
.reco-ratting .rating-container .filled-stars{
    left: 5px;
}
.rating-sm{
    font-size: 15px !important;
}